@model IEnumerable<MVC_EF_Insurance.Models.InsuranceQuery>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.firstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.birthdate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.car_year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.car_make)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.car_model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tickets)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dui)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.coverage_full)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.calculated_rate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.firstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.birthdate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.car_year)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.car_make)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.car_model)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tickets)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dui)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.coverage_full)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.calculated_rate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
